<div class="container"> 
      <form class= "form-signin" #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <h2>Login</h2>
        <div 
          class="err"
          *ngIf="uname.errors?.['pattern']"> 
          User name not valid.
        </div> 
        <input
          type="text"
          class="form-control"
          placeholder="User Name"
          ngModel
          name="name"
          pattern="^[a-z]{3,16}$"
          #uname="ngModel"
          required=""
          />

        <div 
          class="err"
          *ngIf="upass.errors?.['pattern']"> 
          password not valid.
        </div> 
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          ngModel
          pattern="^[\d\w@-]{8,20}$"
          #upass="ngModel"
          required=""
        />
        <div 
          class="err"
          *ngIf="uip.errors?.['pattern']"> 
          User ip not valid.
        </div> 
        <input
          class= "form-control"
          placeholder="IP: 000.0.00"
          type="text" 
          pattern="^\d\d\d\.\d\.\d\d$"
          ngModel
          name="ip"
          #uip="ngModel"
          required=""
        />
        

        <input 
          type="number" 
          class= "form-control" 
          placeholder="Port number" 
          step="50"      
          ngModel
          name="Port"
          required=""
        />

        <p>
        <input
        type="radio" 
        class="form-control" 
        ngModel
        name="use_ssl"
        value="True"
        />
        <label for="peas"> Use HTTPS </label> 
        </p>
          
      <div>
      <button
        type="submit"
        class="button"
        [disabled]="!postForm.valid"
        >
          Connect
      </button>
      </div>
     </form>
</div>
<!--
  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      required
      ngModel
      name="content"
    ></textarea>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p>No posts available!</p>
    </div>
  </div>
-->